<script type="text/ng-template" id="/template/views/forgotPassword.html">
    <div class="page-header">
        <h1>
            <i class="fa fa-lock pad-right"></i> Forgot Your Password?
        </h1>
    </div>

    <p>Have you forgotten your password? That's OK. Submit your email address and we'll send you a link to reset it.</p>

    <form name="forgotPasswordForm" ng-submit="vm.submit(forgotPasswordForm)" novalidate>
        <div class="form-group" ng-class="{ 'has-error': forgotPasswordForm.$submitted && forgotPasswordForm.email.$invalid }">
            <input type="email" id="email" name="email" placeholder="Email Address" ng-model="vm.form.email" class="form-control" ng-email ng-required="true" />
            <div ng-messages="forgotPasswordForm.email.$error" role="alert" ng-if="forgotPasswordForm.$submitted">
                <p class="help-block" ng-message="required">Email is required</p>
                <p class="help-block" ng-message="email">Email is invalid</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" id="submit_button" class="btn btn-primary btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending...">Submit</button>
            </div>
        </div>
    </form>
</script>