<script type="text/ng-template" id="/template/views/gigEdit.html">
    <div class="page-header">
        <h1>
            <i class="fa fa-pencil pad-right"></i>
            {{ title }}
        </h1>
    </div>

    <form name="gigForm" ng-submit="vm.submit(gigForm)" novalidate>

        <div class="alert alert-danger" ng-if="vm.errorMessage">{{ vm.errorMessage }}</div>
        <div class="alert alert-success" ng-if="vm.successMessage">{{ vm.successMessage }}</div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Details</strong>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12 form-group required" ng-class="{ 'has-error': gigForm.$submitted && gigForm.name.$invalid }">
                        <label for="gig_name">Description</label>
                        <input type="text"
                                name="name"
                                kendo-combo-box
                                options="vm.descriptionsComboOptions"
                                ng-model="vm.form.name"
                                id="gig_name"
                                style="width: 100%;"
                                required />
                        <div ng-messages="gigForm.name.$error" role="alert" ng-if="gigForm.$submitted">
                            <p class="help-block" ng-message="required">Enter a description</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group required" ng-class="{ 'has-error': gigForm.$submitted && gigForm.startDate.$invalid }">
                        <label for="startDate">Start</label>
                        <div>
                            <datetimepicker id="startDate" name="startDate" ng-model="vm.form.startDate" date-format="M/d/yyyy" ng-required="true">
                            </datetimepicker>
                        </div>
                        <div ng-messages="gigForm.startDate.$error" role="alert" ng-if="gigForm.$submitted">
                            <p class="help-block" ng-message="required">Choose a start date/time</p>
                            <p class="help-block" ng-message="date">Invalid date format</p>
                        </div>
                    </div>

                    <div class="col-sm-6 form-group required" ng-class="{ 'has-error': gigForm.$submitted && gigForm.endDate.$invalid }">
                        <label for="endDate">End</label>
                        <div>
                            <datetimepicker id="endDate" name="endDate" ng-model="vm.form.endDate" date-format="M/d/yyyy" ng-required="true">
                            </datetimepicker>
                        </div>
                        <div ng-messages="gigForm.endDate.$error" role="alert" ng-if="gigForm.$submitted">
                            <p class="help-block" ng-message="required">Choose an end date/time</p>
                            <p class="help-block" ng-message="date">Invalid date format</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-group" ng-class="{ 'has-error': gigForm.$submitted && gigForm.contractorId.$invalid }">
                        <label for="contractorId">Contractor</label> <a href="#" ng-click="addContractor($event)"><i class="fa fa-plus"></i> New</a>
                        <div>
                            <select id="contractorId"
                                    name="contractorId"
                                    class="form-control"
                                    ng-model="vm.form.contractorId">
                                <option value="">None</option>
                                <option ng-repeat="contractor in vm.contractors track by contractor.id" ng-value="contractor.id">
                                    {{contractor.name}}
                                </option>
                            </select>
                            <div ng-messages="gigForm.contractorId.$error" role="alert" ng-if="gigForm.$submitted">
                                <p class="help-block" ng-message="required">Select a contractor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Travel</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 form-group required" ng-class="{ 'has-error': gigForm.$submitted && gigForm.place.$invalid }">
                        <label for="place">Location</label>
                        <div>
                            <input type="text"
                                    id="place"
                                    name="place"
                                    class="form-control"
                                    g-places-autocomplete
                                    data-force-selection="true"
                                    ng-model="vm.form.place"
                                    autocomplete="off"
                                    ng-required="true" />
                        </div>
                        <div ng-messages="gigForm.name.$error" role="alert" ng-if="gigForm.$submitted">
                            <p class="help-block" ng-message="required">Choose a location</p>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group" ng-class="{ 'has-error': gigForm.$submitted && gigForm.originPlace.$invalid }">
                        <label>I will be coming from</label>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <input type="radio"
                                    name="originType[]"
                                    id="originType_home"
                                    value="home"
                                    ng-model="vm.form.originType">
                                <label for="originType_home"
                                    ng-class="{'text-primary': form.originType == 'home', 'text-muted': form.originType != 'home'}">
                                    Home
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <input type="radio"
                                    name="originType[]"
                                    id="originType_gig"
                                    value="gig"
                                    ng-model="vm.form.originType">
                                <label for="originType_gig"
                                    ng-class="{'text-primary': form.originType == 'gig', 'text-muted': form.originType != 'gig'}">
                                    Another Gig
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <input type="radio"
                                    name="originType[]"
                                    id="originType_other"
                                    value="other"
                                    ng-model="vm.form.originType">
                                <label for="originType_other"
                                    ng-class="{'text-primary': form.originType == 'other', 'text-muted': form.originType != 'other'}">
                                    Someplace Else
                                </label>
                            </div>
                        </div>
                        <div>
                            <select ng-show="vm.form.originType == 'gig'"
                                    name="originGig"
                                    id="originGig"
                                    style="width: 100%;"
                                    kendo-drop-down-list="originGigSelect"
                                    options="vm.gigDropdownOptions"
                                    k-ng-model="vm.form.originGig">
                            </select>
                            <input ng-show="vm.form.originType == 'other'"
                                   type="text"
                                   id="originPlace"
                                   name="originPlace"
                                   class="form-control"
                                   g-places-autocomplete
                                   data-force-selection="true"
                                   ng-model="vm.form.originPlace"
                                   autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="row fixedheight">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="distance">Distance</label> <span class="text-muted">(miles)</span>
                                <div>
                                    <input name="distance"
                                            id="distance"
                                            kendo-numeric-text-box
                                            options="vm.distanceOptions"
                                            ng-model="vm.form.distance" />
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="duration">Travel Time</label> <span class="text-muted">(mins)</span>
                                <div>
                                    <input name="duration"
                                            id="duration"
                                            kendo-numeric-text-box
                                            options="vm.durationOptions"
                                            ng-model="vm.form.duration" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group" ng-if="vm.form.place && user.profile.homeBasePlace">
                        <button type="button"
                            class="btn btn-primary btn-estimate bottomalign"
                            id="estimate_button"
                            ng-click="vm.estimateDistance($event)"
                            data-loading-text="<i class='fa fa-spinner fa-spin'></i> Estimating...">
                            <i class="fa fa-car"></i> Estimate
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Other Info</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="tags">Tags</label>
                        <a href="#" ng-click="addTag($event)"><i class="fa fa-plus"></i> New</a>
                        <select id="tags"
                                name="tags"
                                kendo-multi-select
                                options="vm.tagDropdownOptions"
                                k-ng-model="vm.form.tags"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="notes">Notes</label>
                        <textarea id="notes" name="notes" class="form-control" ng-model="vm.form.notes"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group text-right">
                <button class="btn btn-primary"
                        id="save_button"
                        type="submit"
                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving...">
                        <i class="fa fa-check"></i> Save
                </button>
                <button class="btn btn-warning"
                        id="cancel_button"
                        type="button"
                        ng-click="vm.cancel()">
                        <i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </div>
    </form>
</script>