<script type="text/ng-template"  id="/template/views/home.html">
    <div class="page-header">
        <h1>Welcome to GigKeeper</h1>
    </div>
    <p class="lead">Keep track of all your gigs and stuff.</p>

    <div class="row">
        <main class="col-md-12">
            <div class="row" ng-show="!vm.session.user">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Login</h3>
                        </div>
                        <div class="panel-body">
                            <form name="loginForm" ng-submit="vm.submitLoginForm(loginForm)" novalidate>

                                <div class="alert alert-danger" ng-if="vm.errorMessage">{{ vm.errorMessage }}</div>

                                <div class="form-group" ng-class="{ 'has-error': loginForm.$submitted && loginForm.email.$invalid }">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                        <input class="form-control" type="email" name="email" ng-model="vm.loginForm.email" required />
                                    </div>
                                    <div ng-messages="loginForm.email.$error" role="alert" ng-if="loginForm.$submitted">
                                        <p class="help-block" ng-message="required">Email is required</p>
                                        <p class="help-block" ng-message="email">Email is invalid</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error': loginForm.$submitted && loginForm.password.$invalid }">
                                    <label>Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input class="form-control" type="password" name="password" ng-model="vm.loginForm.password" required />
                                    </div>
                                    <div ng-messages="loginForm.password.$error" role="alert" ng-if="loginForm.$submitted">
                                        <p class="help-block" ng-message="required">Password is required</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                                </div>

                                <div class="form-group">
                                    <a ui-sref="forgotPasswordWithEmail({email: email})">Forgot your password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</script>