<script type="text/ng-template"  id="/template/dialogs/selectRoute.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <i class="fa fa-map pad-right"></i>
            Select your route
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <map id="select-route-map" zoom-to-inlude-markers="true" map-initialized="mapInitialized(map)">
            <directions origin="{{preparedRoutes[selection].origin}}"
                    destination="{{preparedRoutes[selection].destination}}"
                    waypoints="{{preparedRoutes[selection].waypoints}}"></directions>
        </map>
        <div class="route-options">
            <div class="route" ng-repeat="route in preparedRoutes">
                <div>
                    <input type="radio" id="route-{{$index}}" name="route" ng-value="$index" ng-model="$parent.selection">
                    <label for="route-{{$index}}"
                            ng-class="{'text-primary': $index == $parent.selection, 'text-muted': $index != $parent.selection}">
                        {{route.summary}}
                    </label>
                </div>
                <div class="route-details">
                    <span class="route-stat">
                        <i class="fa fa-car"></i>
                        {{route.distance / 1609.344 | number:1}} miles
                    </span>
                    <span class="route-stat">
                        <i class="fa fa-clock-o"></i>
                        {{route.travelTime / 60 | number:0}} minutes
                    </span>
                    <a class="more-or-less" ng-click="route.showDirections = !route.showDirections">
                        <span ng-if="route.showDirections">Less...</span>
                        <span ng-if="!route.showDirections">More...</span>
                    </a>

                    <ol class="directions" ng-if="route.showDirections">
                        <li ng-repeat="step in route.steps" ng-bind-html="$sce.trustAsHtml(step.html_instructions)"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="ok_button" type="button" ng-click="ok()">
            <i class="fa fa-check"></i> Ok
        </button>
        <button class="btn btn-warning" id="cancel_button" type="button" ng-click="cancel()">
            <i class="fa fa-times"></i> Cancel
        </button>
    </div>
</script>