<script type="text/ng-template"  id="/template/dialogs/selectRoute.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <i class="fa fa-map pad-right"></i>
            Select your route
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <map zoom-to-inlude-markers="true">
            <directions origin="{{preparedRoutes[selection].origin}}"
                    destination="{{preparedRoutes[selection].destination}}"
                    waypoints="{{preparedRoutes[selection].waypoints}}"></directions>
        </map>
        <p>
            <div ng-repeat="route in preparedRoutes">
                <input type="radio" id="route-{{$index}}" name="route" ng-value="$index" ng-model="$parent.selection">
                <label for="route-{{$index}}"
                        ng-class="{'text-primary': $index == $parent.selection, 'text-muted': $index != $parent.selection}">
                    {{route.summary}}
                </label>
            </div>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="ok_button" type="button" ng-click="ok()">
            <i class="fa fa-check"></i> Ok
        </button>
        <button class="btn btn-warning" id="cancel_button" type="button" ng-click="cancel()">
            <i class="fa fa-times"></i> Cancel
        </button>
    </div>
</script>