<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/kendo-ui/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/bower_components/kendo-ui/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.css" rel="stylesheet">
    <link href="/bower_components/angular-ui-grid/ui-grid.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-ng-app="GigKeeper">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                <a class="navbar-brand" data-ui-sref="home">GigKeeper</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li data-ui-sref-active="active"><a data-ui-sref="home">Home</a></li>
                    <li data-ui-sref-active="active" data-ng-if="profile"><a data-ui-sref="my.gigs">My Gigs</a></li>
                    <li data-ui-sref-active="active"><a data-ui-sref="about">About</a></li>
                    <li data-ui-sref-active="active"><a data-ui-sref="contact">Contact</a></li>
                    <li class="dropdown" data-ng-if="profile">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-ui-sref="profile">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a data-ng-click="logout()">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <ui-view></ui-view>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">GigKeeper &copy; 2016 Steve Wamsley</p>
        </div>
    </footer>

    <script type="text/ng-template"  id="/template/about.html">
        <div class="row">
            <main class="col-md-12">
                <div class="page-header">
                    <h1>About GigKeeper</h1>
                </div>
                <p class="lead">Everything you need to know about GigKeeper</p>
            </main>
        </div>
    </script>
        <script type="text/ng-template"  id="/template/contact.html">
        <div class="row">
            <main class="col-md-12">
                <div class="page-header">
                    <h1>Contact</h1>
                </div>
                <p class="lead">Let us know what you think about GigKeeper!</p>
            </main>
        </div>
    </script>
        <script type="text/ng-template"  id="/template/contractorEdit.html">
        <form name="contractorForm" data-ng-submit="submit(contractorForm)" novalidate>
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Edit Contractor</h3>
            </div>
            <div class="modal-body" id="modal-body">
    
                <div class="alert alert-danger" data-ng-if="errorMessage">{{ errorMessage }}</div>
    
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.name.$invalid }">
                    <label for="contractor_name">Name</label>
                    <input type="text" name="name" data-ng-model="form.name" id="contractor_name" class="form-control" data-ng-required="true" />
                    <p data-ng-show="contractorForm.name.$error.required && !contractorForm.name.$pristine" class="help-block">Name is required.</p>
                </div>
    
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.contact.$invalid }">
                    <label for="contractor_contact">Contact</label>
                    <input type="text" name="contact" data-ng-model="form.contact" id="contractor_contact" class="form-control" />
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.address1.$invalid }">
                    <label for="contractor_address1">Address 1</label>
                    <input type="text" name="address1" data-ng-model="form.address1" id="contractor_address1" class="form-control" />
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.address2.$invalid }">
                    <label for="contractor_address2">Address 2</label>
                    <input type="text" name="address2" data-ng-model="form.address2" id="contractor_address2" class="form-control" />
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.city.$invalid }">
                    <label for="contractor_city">City</label>
                    <input type="text" name="city" data-ng-model="form.city" id="contractor_city" class="form-control" />
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.region.$invalid }">
                    <label for="contractor_region">State</label>
                    <input type="text" name="region" data-ng-model="form.region" id="contractor_region" class="form-control" />
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.postalCode.$invalid }">
                    <label for="contractor_postalCode">Zip</label>
                    <input type="text" name="postalCode" data-ng-model="form.postalCode" id="contractor_postalCode" class="form-control" />
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.phone.$invalid }">
                    <label for="contractor_phone">Phone</label>
                    <input type="text" name="phone" data-ng-model="form.phone" id="contractor_phone" class="form-control" />
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.email.$invalid }">
                    <label for="contractor_email">Email</label>
                    <input type="email" name="email" data-ng-model="form.email" id="contractor_email" class="form-control" />
                    <p data-ng-show="contractorForm.name.$error.email && !contractorForm.name.$pristine" class="help-block">Email is invalid.</p>
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': contractorForm.web.$invalid }">
                    <label for="contractor_web">Web</label>
                    <input type="url" name="web" data-ng-model="form.web" id="contractor_web" class="form-control" />
                    <p data-ng-show="contractorForm.name.$error.url && !contractorForm.name.$pristine" class="help-block">Web URL is invalid.</p>
                </div>
    
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="save_button" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving...">Save</button>
                <button class="btn btn-warning" id="cancel_button" type="button" data-ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
        <script type="text/ng-template"  id="/template/contractors.html">
        <div class="page-header">
            <h1>Contractors</h1>
        </div>
    
        <div class="action-buttons">
            <button class="btn btn-default pull-left" data-ng-click="add()"><i class="fa fa-plus"></i> Add New</button>
            <button class="btn btn-default pull-left" data-ng-click="editSelected()" data-ng-disabled="!selected"><i class="fa fa-edit"></i> Edit Selected</button>
            <button class="btn btn-danger pull-right" data-ng-click="deleteSelected()" data-ng-disabled="!selected"><i class="fa fa-times"></i> Delete Selected</button>
            <div class="clearfix"></div>
        </div>
        <div ui-grid="gridOptions" ui-grid-selection></div>
    </script>
        <script type="text/ng-template"  id="/template/dashboard.html">
        <div class="row">
            <main class="col-md-12">
                <div class="page-header">
                    <h1>Dashboard</h1>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Quick Entry</h3>
                            </div>
                            <div class="panel-body">
                                <form name="quickEntryForm" data-ng-submit="submitQuickEntryForm(quickEntryForm)" novalidate>
                                    <div class="form-group">
                                        <label for="gig_description">Description</label>
                                        <input type="text" name="gig_description" id="gig_description" class="form-control" data-ng-model="gigForm.description" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="gig_contractor">Contractor</label>
                                        <div><select kendo-dropdownlist="contractorDropdown" options="gigForm.contractorDropdownOptions" id="gig_contractor" name="gig_contractor" data-ng-model="gigForm.contractorId" required></select></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="gig_location">Location</label>
                                        <input type="text" id="gig_location" name="gig_location" class="form-control" g-places-autocomplete data-ng-model="gigForm.location" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="gig_startDate">Start</label>
                                        <input name="gig_startDate" id="gig_startDate" style="width: 100%" kendo-date-time-picker data-ng-model="gigForm.startDate" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="gig_endDate">End</label>
                                        <input name="gig_endDate" id="gig_endDate" style="width: 100%" kendo-date-time-picker data-ng-model="gigForm.endDate" required />
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-primary btn-lg btn-block" type="submit" data-ng-disabled="quickEntryForm.$invalid">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Upcoming Gigs</h3>
                            </div>
                            <div class="panel-body">
                                <table st-table="" st-pipe="getGigs" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Location</th>
                                            <th>Contractor</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr data-ng-repeat="row in gigData">
                                            <td>{{row.name}}</td>
                                            <td>{{row.address}}</td>
                                            <td>{{row.contractor.name}}</td>
                                            <td>{{row.startDate|date:'short'}}</td>
                                            <td>{{row.endDate|date:'short'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </script>
        <script type="text/ng-template"  id="/template/gigEdit.html">
        <form name="gigForm" data-ng-submit="submit(gigForm)" novalidate>
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Edit Gig</h3>
            </div>
            <div class="modal-body" id="modal-body">
    
                <div class="alert alert-danger" data-ng-if="errorMessage">{{ errorMessage }}</div>
                <div class="alert alert-success" data-ng-if="successMessage">{{ successMessage }}</div>
    
                <div class="form-group" data-ng-class="{ 'has-error': gigForm.contractorId.$invalid && !gigForm.contractorId.$pristine }">
                    <label for="contractorId">Contractor</label>
                    <div>
                        <select id="contractorId" 
                                name="contractorId" 
                                style="width: 100%"
                                kendo-dropdownlist="contractorDropdown" 
                                options="contractorDropdownOptions" 
                                k-ng-model="form.contractorId" 
                                required>
                        </select>
                        <p data-ng-show="gigForm.contractorId.$error.required && !gigForm.contractorId.$pristine" class="help-block">Contractor is required.</p>
                    </div>
                </div>
    
                <div class="form-group" data-ng-class="{ 'has-error': gigForm.name.$invalid && !gigForm.name.$pristine }">
                    <label for="gig_name">Description</label>
                    <input type="text" 
                           name="name" 
                           kendo-combo-box
                           options="descriptionsComboOptions"
                           data-ng-model="form.name" 
                           id="gig_name" 
                           style="width: 100%;"
                           data-ng-required="true" />
                    <p data-ng-show="gigForm.name.$error.required && !gigForm.name.$pristine" class="help-block">Description is required.</p>
                </div>
    
                <div class="form-group" data-ng-class="{ 'has-error': gigForm.place.$invalid && !gigForm.place.$pristine }">
                    <label for="place">Location</label>
                    <input type="text" 
                           id="place" 
                           name="place" 
                           class="form-control"
                           g-places-autocomplete 
                           data-force-selection="true"
                           data-ng-model="form.place"
                           autocomplete="off" 
                           required />
                </div>
                
                <div class="form-group" data-ng-class="{ 'has-error': gigForm.startDate.$invalid && !gigForm.startDate.$pristine }">
                    <label for="startDate">Start</label>
                    <input name="startDate" 
                           id="startDate" 
                           style="width: 100%" 
                           kendo-date-time-picker 
                           k-ng-model="form.startDate" 
                           required />
                </div>
    
                <div class="form-group" data-ng-class="{ 'has-error': gigForm.endDate.$invalid && !gigForm.endDate.$pristine }">
                    <label for="endDate">End</label>
                    <input name="endDate" 
                           id="endDate" 
                           style="width: 100%" 
                           kendo-date-time-picker 
                           k-ng-model="form.endDate" 
                           required />
                </div>
    
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="distance">Distance (miles)</label>
                        <input name="distance" 
                               id="distance" 
                               kendo-numeric-text-box
                               options="distanceOptions"
                               data-ng-model="form.distance" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="duration">Travel Time (minutes)</label>
                        <input name="duration" 
                               id="duration" 
                               kendo-numeric-text-box
                               options="durationOptions"
                               data-ng-model="form.duration" />
                    </div>
                    <div class="col-md-4 form-group">
                        <br/>
                        <a class="btn btn-default" 
                           id="estimate_button" 
                           data-ng-click="estimateDistance()" 
                           data-loading-text="<i class='fa fa-spinner fa-spin'></i> Estimating...">
                           <i class="fa fa-car"></i> Estimate
                        </a>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <select id="tags"
                            name="tags"
                            kendo-multi-select 
                            options="tagDropdownOptions" 
                            k-ng-model="form.tags"></select>
                </div>
    
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea id="notes" name="notes" class="form-control" data-ng-model="form.notes"></textarea>
                </div>
            </div>
    
            <div class="modal-footer">
                <!--<a class="btn btn-default" 
                   data-ng-click="prev()"
                   data-ng-disabled="!hasPrev()">
                    <i class="fa fa-chevron-left"></i> Prev
                </a>
                <a class="btn btn-default" 
                   data-ng-click="next()"
                   data-ng-disabled="!hasNext()">
                    Next <i class="fa fa-chevron-right"></i>
                </a>-->
    
                <button class="btn btn-primary" 
                        id="save_button" 
                        type="submit" 
                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving...">
                        <i class="fa fa-check"></i> Save
                </button>
                <button class="btn btn-warning" 
                        id="cancel_button" 
                        type="button" 
                        data-ng-click="cancel()">
                        <i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </script>
        <script type="text/ng-template" id="/template/gigs.html">
        <div class="page-header">
            <h1>Gigs</h1>
        </div>
    
        <div class="action-buttons">
            <button class="btn btn-default pull-left" data-ng-click="add()"><i class="fa fa-plus"></i> Add New</button>
            <button class="btn btn-default pull-left" data-ng-click="editSelected()" data-ng-disabled="!selected"><i class="fa fa-edit"></i> Edit Selected</button>
            <button class="btn btn-danger pull-right" data-ng-click="deleteSelected()" data-ng-disabled="!selected"><i class="fa fa-times"></i> Delete Selected</button>
            <div class="clearfix"></div>
        </div>
        <div ui-grid="gridOptions" ui-grid-selection></div>
    </script>
        <script type="text/ng-template"  id="/template/home.html">
        <div class="page-header">
            <h1>Welcome to GigKeeper</h1>
        </div>
        <p class="lead">Keep track of all your gigs and stuff.</p>
    
        <div class="row">
            <main class="col-md-12">
                <div class="row" data-ng-show="!profile">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Login</h3>
                            </div>
                            <div class="panel-body">
                                <form name="loginForm" data-ng-submit="submitLoginForm(loginForm)" novalidate>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="email" name="email" data-ng-model="email" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" type="password" name="password" data-ng-model="password" required />
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-primary btn-lg btn-block" type="submit" data-ng-disabled="loginForm.$invalid">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Register</h3>
                            </div>
                            <div class="panel-body">
                                TBD
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </script>
        <script type="text/ng-template"  id="/template/my.html">
        <div class="row">
    
            <nav class="col-sm-2 sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" data-ui-sref="my.gigs" data-ui-sref-active="active" href="#">Gigs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-ui-sref="my.contractors" data-ui-sref-active="active">Contractors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-ui-sref="my.tags" href="#" data-ui-sref-active="active">Tags</a>
                    </li>
                </ul>
    
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" data-ui-sref="my.settings" data-ui-sref-active="active" href="#">Settings</a>
                    </li>
                </ul>
            </nav>
    
            <main class="col-sm-10">
                <ui-view></ui-view>
            </main>
    
        </div>
    </script>
        <script type="text/ng-template"  id="/template/profile.html">
        <div class="row">
            <main class="col-md-12">
                <div class="page-header">
                    <h1>My Profile</h1>
                </div>
    
                <form name="profileForm" data-ng-submit="submit(profileForm)">
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Account Settings</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="profile_email">Email</label>
                                        <input type="email" id="profile_email" name="email" data-ng-model="form.email" class="form-control" data-ng-required />
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_password">Password</label>
                                        <input type="password" id="profile_password" name="password" data-ng-model="form.password" class="form-control" data-ng-required />
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_password_confirm">Confirm Password</label>
                                        <input type="password" id="profile_password_confirm" name="passwordConfirm" data-ng-model="form.passwordConfirm" class="form-control" data-ng-required />
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </script>
        <script type="text/ng-template" id="/template/settings.html">
        <div class="page-header">
            <h1>Settings</h1>
        </div>
    
        <form name="settingsForm" data-ng-submit="submit(settingsForm)" novalidate>
    
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Location Settings</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="profile_homeBase">Home Base</label>
                                <input type="text" 
                                       id="profile_homeBase" 
                                       name="homeBasePlace" 
                                       class="form-control"
                                       g-places-autocomplete 
                                       options="homeBaseOptions"
                                       data-force-selection="true"
                                       data-ng-model="form.homeBasePlace"
                                       autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" id="save_button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </script>
        <script type="text/ng-template"  id="/template/tagEdit.html">
        <form name="tagForm" data-ng-submit="submit(tagForm)" novalidate>
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Edit Tag</h3>
            </div>
            <div class="modal-body" id="modal-body">
    
                <div class="alert alert-danger" data-ng-if="errorMessage">{{ errorMessage }}</div>
    
                <div class="form-group" data-ng-class="{ 'has-error': tagForm.name.$invalid }">
                    <label for="tag_name">Name</label>
                    <input type="text" name="name" data-ng-model="form.name" id="tag_name" class="form-control" data-ng-required="true" />
                    <p data-ng-show="tagForm.name.$error.required && !tagForm.name.$pristine" class="help-block">Name is required.</p>
                </div>
    
                <div class="form-group" data-ng-class="{ 'has-error': tagForm.description.$invalid }">
                    <label for="tag_description">Description</label>
                    <textarea name="description" 
                              data-ng-model="form.description" 
                              id="tag_description" 
                              class="form-control">
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="save_button" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving...">Save</button>
                <button class="btn btn-warning" id="cancel_button" type="button" data-ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
        <script type="text/ng-template"  id="/template/tags.html">
        <div class="page-header">
            <h1>Tags</h1>
        </div>
    
        <div class="action-buttons">
            <button class="btn btn-default pull-left" data-ng-click="add()"><i class="fa fa-plus"></i> Add New</button>
            <button class="btn btn-default pull-left" data-ng-click="editSelected()" data-ng-disabled="!selected"><i class="fa fa-edit"></i> Edit Selected</button>
            <button class="btn btn-danger pull-right" data-ng-click="deleteSelected()" data-ng-disabled="!selected"><i class="fa fa-times"></i> Delete Selected</button>
            <div class="clearfix"></div>
        </div>
        <div ui-grid="gridOptions" ui-grid-selection></div>
    </script>
        <script type="text/ng-template"  id="/template/welcome.html">
        <div class="row">
            <main class="col-md-12">
                <div class="page-header">
                    <h1>Welcome to GigKeeper</h1>
                </div>
                <p class="lead">Keep track of all your gigs and stuff.</p>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Login</h3>
                            </div>
                            <div class="panel-body">
                                <form name="loginForm" data-ng-submit="submitLoginForm(loginForm)" novalidate>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="email" name="email" data-ng-model="email" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" type="password" name="password" data-ng-model="password" required />
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-primary btn-lg btn-block" type="submit" data-ng-disabled="loginForm.$invalid">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Register</h3>
                            </div>
                            <div class="panel-body">
                                TBD
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3a1NJK6odYtl6bXINT7hOt7MtgNuTfLs&libraries=places"></script>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script type="text/javascript" src="/bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>

    <script type="text/javascript" src="/js/appConfig.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>