{
    "app": {
        "protocol": "http",
        "host": "localhost",
        "port": 8001
    },
    "api": {
        "env": "development",
        "protocol": "http",
        "host": "localhost",
        "port": 8000,
        "jwt": {
            "secret": "<your_secret_string>"
        }
    },
    "db": {
        "host": "localhost",
        "port": 5432,
        "dialect": "postgres",
        "name": "gigkeeper",
        "user": "gigkeeper",
        "pass": "<your_gigkeeper_password>",
        "logging": true
    },
    "smtp": {
        "enabled": false,
        "fromAddress": "<your_sender_email_address>",
        "singleAddress": "<your_email_address_or_false>",
        "service": "gmail",
        "user": "<your_email_username>",
        "pass": "<your_email_password>"
    },
    "google": {
        "apiKey": "<your_api_key>"
    }
}