{
    "app": {
        "env": "development",
        "baseUrl": "http://localhost:8000",
        "host": "localhost",
        "port": 8000,
        "cookie": {
            "name": "gigkeeper-session",
            "secret": "<your_secret_string>"
        }
    },
    "db": {
        "host": "localhost",
        "port": 5432,
        "dialect": "postgres",
        "name": "gigkeeper",
        "user": "gigkeeper",
        "pass": "<your_gigkeeper_password>",
        "logging": true
    },
    "smtp": {
        "enabled": false,
        "fromAddress": "<your_sender_email_address>",
        "singleAddress": "<your_email_address_or_false>",
        "service": "gmail",
        "user": "<your_email_username>",
        "pass": "<your_email_password>"
    },
    "google": {
        "apiKey": "<your_api_key>"
    }
}