.route-options {
    margin-top: 1em;
}

.route {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

.route-details {
    margin-left: 1.75em;
}

.route-stat {
    font-weight: normal;
    margin-right: 1em;
    color: #777;
}

.more-or-less {
    margin-left: 1em;
}

.directions {
    margin-top: 0.5em;
    padding-left: 1em;
}