<script type="text/ng-template"  id="/template/profile.html">
    <div class="row">
        <main class="col-md-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-user pad-right"></i>
                    My Profile
                </h1>
            </div>

            <div class="alert alert-danger" ng-if="errorMessage">{{ errorMessage }}</div>
            <div class="alert alert-success" ng-if="successMessage">{{ successMessage }}</div>
            
            <form name="profileForm" ng-submit="submit(profileForm)">
                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Account Settings</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error': profileForm.$submitted && profileForm.firstName.$invalid }">
                                            <label for="firstName">First Name</label>
                                            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="form.firstName" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error': profileForm.$submitted && profileForm.lastName.$invalid }">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="form.lastName" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error': profileForm.$submitted && profileForm.email.$invalid }">
                                            <label for="profile_email">Email</label>
                                            <input type="email" 
                                                id="profile_email" 
                                                name="email" 
                                                ng-model="form.email" 
                                                class="form-control" 
                                                ng-email
                                                required />
                                            <div ng-messages="profileForm.email.$error" role="alert" ng-if="profileForm.$submitted">
                                                <p class="help-block" ng-message="required">Email is required</p>
                                                <p class="help-block" ng-message="email">Email is invalid</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error': profileForm.$submitted && profileForm.phone.$invalid }">
                                            <label for="phone">Phone</label>
                                            <input type="tel" id="phone" name="phone" class="form-control" ng-model="form.phone" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error': profileForm.$submitted && profileForm.password.$invalid }">
                                            <label for="profile_password">Password</label>
                                            <input type="password" 
                                                id="profile_password" 
                                                name="password" 
                                                ng-model="form.password"
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error': profileForm.$submitted && profileForm.passwordConfirm.$invalid }">
                                            <label for="profile_password_confirm">Confirm Password</label>
                                            <input type="password" 
                                                id="profile_password_confirm" 
                                                name="passwordConfirm" 
                                                ng-model="form.passwordConfirm" 
                                                class="form-control" 
                                                ng-required
                                                gk-compare-to="form.password" />
                                            <div ng-messages="profileForm.passwordConfirm.$error" role="alert" ng-if="profileForm.$submitted">
                                                <p class="help-block" ng-message="compareTo">Passwords do not match</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check"></i> Update
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</script>