<script type="text/ng-template" id="/template/registerInvite.html">
    <div class="page-header">
        <h1>
            Register Invite
        </h1>
    </div>

    <form name="registerInviteForm" ng-submit="submit(registerInviteForm)" novalidate ng-if="invite.code">

        <div class="form-group" ng-class="{ 'has-error': registerInviteForm.$submitted && registerInviteForm.email.$invalid }">
            <label for="email">Email</label>
            <input type="email" 
                    id="email" 
                    name="email" 
                    ng-model="form.email" 
                    class="form-control" 
                    ng-email
                    ng-required="true" />
            <div ng-messages="registerInviteForm.email.$error" role="alert" ng-if="registerInviteForm.$submitted">
                <p class="help-block" ng-message="required">Email is required</p>
                <p class="help-block" ng-message="email">Email is invalid</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': registerInviteForm.$submitted && registerInviteForm.password.$invalid }">
            <label for="password">Password</label>
            <input type="password" 
                    id="password" 
                    name="password" 
                    ng-model="form.password"
                    class="form-control"
                    ng-required="true" />
            <div ng-messages="registerInviteForm.password.$error" role="alert" ng-if="registerInviteForm.$submitted">
                <p class="help-block" ng-message="required">Password is required</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': registerInviteForm.$submitted && registerInviteForm.passwordConfirm.$invalid }">
            <label for="password_confirm">Confirm Password</label>
            <input type="password" 
                    id="password_confirm" 
                    name="passwordConfirm" 
                    ng-model="form.passwordConfirm" 
                    class="form-control" 
                    ng-required="true"
                    gk-compare-to="form.password" />
            <div ng-messages="registerInviteForm.passwordConfirm.$error" role="alert" ng-if="registerInviteForm.$submitted">
                <p class="help-block" ng-message="compareTo">Passwords do not match</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" name="register_button" class="btn btn-primary btn-lg">Register</button>
        </div>
    </form>

    <div ng-if="!invite.code" class="alert alert-danger">Invalid Invite Code</div>
</script>
