<script type="text/ng-template" id="/template/settings.html">
    <div class="page-header">
        <h1>
            <i class="fa fa-cog pad-right"></i>
            Settings
        </h1>
    </div>

    <form name="settingsForm" ng-submit="submit(settingsForm)" novalidate>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Gig Settings</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="profile_homeBase">Default Duration</label>
                            <div>
                                <input type="text" 
                                    id="profile_defaultDuration" 
                                    name="defaultDuration" 
                                    kendo-numeric-text-box
                                    options="durationOptions"
                                    ng-model="form.defaultDuration" />
                            </div>
                            <p class="help-block">The end date will automatically be set
                                to the start date plus the default duration in minutes.</p>
                        </div>

                        <div class="form-group">
                            <label for="profile_homeBase">Lead Time</label>
                            <div>
                                <input type="text" 
                                    id="profile_leadTime" 
                                    name="leadTime" 
                                    kendo-numeric-text-box
                                    options="durationOptions"
                                    ng-model="form.leadTime" />
                            </div>
                            <p class="help-block">How many minutes prior to the gig start time do you wish to arrive?
                                This will be used in calculating a suggested departure time.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Location Settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="profile_homeBase">Home Base</label>
                            <input type="text" 
                                   id="profile_homeBase" 
                                   name="homeBasePlace" 
                                   class="form-control"
                                   g-places-autocomplete 
                                   data-force-selection="true"
                                   ng-model="form.homeBasePlace"
                                   autocomplete="off" />
                            <p class="help-block">This is your default home base. By default,
                                all distance / travel time estimations are made from this location.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" id="save_button" class="btn btn-primary">
                    <i class="fa fa-check"></i> Update
                </button>
            </div>
        </div>
    </form>
</script>