<script type="text/ng-template"  id="/template/tags.html">
    <div class="page-header">
        <h1>
            <i class="fa fa-tag pad-right"></i>
            Tags
        </h1>
    </div>

    <div class="action-buttons">
        <button class="btn btn-default pull-left" ng-click="add()"><i class="fa fa-plus"></i> Add New</button>
        <button class="btn btn-default pull-left" ng-click="editSelected()" ng-disabled="!selected"><i class="fa fa-edit"></i> Edit Selected</button>
        <button class="btn btn-danger pull-right" ng-click="deleteSelected()" ng-disabled="!selected"><i class="fa fa-times"></i> Delete Selected</button>
        <div class="clearfix"></div>
    </div>
    <div ui-grid="gridOptions" ui-grid-selection></div>
</script>