<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/kendo-ui/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/bower_components/kendo-ui/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.css" rel="stylesheet">
    <link href="/bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
    <link href="/bower_components/angular-ui-grid/ui-grid.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="GigKeeper" ng-strict-di>

    <div ng-include="'/template/components/nav.html'"></div>

    <div class="container">
        <ui-view></ui-view>
    </div>

    <footer class="footer">
        <div class="container">
            <ul class="list-unstyled list-inline">
                <li class="text-muted">GigKeeper &copy; 2017 Phoenix Bright Software, LLC</li>
                <li class="text-muted"><a ui-sref="terms">Terms &amp; Conditions</a></li>
                <li class="text-muted"><a ui-sref="privacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>

    <div class="alerts container" ng-controller="AlertController as vm" ng-if="vm.alerts.length" ng-cloak>
        <div class="row"
                ng-repeat="alert in vm.alerts"
                ng-class="'alert-' + (alert.type || 'warning')"
                close="vm.closeAlert($index)"
                dismiss-on-timeout="3000"
                uib-alert>
            <div class="col-xs-11">
                <i class="fa fa-warning"></i>
                {{alert.msg}}
            </div>
        </div>
    </div>

    <!--=include template/components/*.html -->
    <!--=include template/dialogs/*.html -->
    <!--=include template/views/*.html -->

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3a1NJK6odYtl6bXINT7hOt7MtgNuTfLs&libraries=places"></script>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script type="text/javascript" src="/bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-blocking-promise-manager/angular-blocking-promise-manager.min.js"></script>
    <script type="text/javascript" src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script type="text/javascript" src="/bower_components/file-saver/FileSaver.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

    <script type="text/javascript" src="/js/appConfig.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>